@import 'vendor/bootstrap/scss/bootstrap.scss';
@import 'vendor/react-toastify/dist/ReactToastify.css';
@import 'vendor/react-modal-video/scss/modal-video.scss';
@import '@/assets//css/font-awesome-5.9.0.css';
@import '@/assets/css/flaticon.css';
@import 'vendor/slick-carousel/slick/slick.css'; 
@import 'vendor/slick-carousel/slick/slick-theme.css';
@import '@/assets/scss/main.scss';

@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/merriweather/v30/u-440qyriQwlOrhSvowK_l5-ciZMdeX3rsHo.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

:root {
  font-family: "Merriweather",'Times New Roman', Times, serif;
  color: var(--color);
  background-color: var(--background-color);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}
